<div class="container-fluid">
    <div class="row about">
        <div class="col-md-12 col-xs-12">
            <a name="about"></a>
            <h1 class="text-center tk-cooper-black-std">ABOUT</h1>
        </div>
        <div class="col-md-7">
            <p>
                Coding Grace are a group of developers based in Ireland who love to code and do other geeky and not necessarily crafty activities. Some of us code full-time, or just for fun (or both). We have people who are part of other technical user groups such as <a href="http://dublinalt.net/">Dublin ALT.NET</a>, <a href="http://gamecraft.it">GameCraft</a>, <a href="http://python.ie/">Python Ireland</a>, <a href="http://www.rubyireland.com/">Ruby Ireland</a> and more…
            </p>
            <p>
                We provide female-friendly workshops and events in an environment for developers and aspiring developers mentored by diverse instructors from the industry.
            </p>
            <p>
                Where many events tend to have more males than females, we aim to encourage many females to come along to our workshops and learn to code and more. We also encourage any females who want to mentor technical material to help out, it’s not that scary after all.
            </p>
            <p>
                It doesn’t matter if you are learning or mentoring, gaining confidence to ask questions, helping others, which results in everyone learning from each other gives females in this field the encouragement to further their careers, attend technical conferences, or even give a technical talk at one.
            </p>
            <p>
                We aim to provide a support network for people from all backgrounds and hope our outreach will help bring those who are interested in code development together and learn from one another.
            </p>

            <h3><a href="/supporters/"><span class="glyphicon glyphicon-info-sign"></span> More info on our <span class="glyphicon glyphicon-heart"></span> awesome supporters <span class="glyphicon glyphicon-heart"></span></a></h3>

        </div>
        <div class="col-md-4">
            <p class="lead">
                "I found the format really helpful and engaging. It's great to play around (I love being told to break the code) and know that you're not going to reinforce bad habits because you’re still within a teaching environment. […] thanks for giving me a shot in the arm and spending your Saturday engaged in techy altruism." — Kathryn Daniel, Introduction to Python Workshop (Part 1)
            </p>
        </div>
    </div>
    <div class="row about">
        <div class="col-md-6">
            <h3>Who's Grace?</h3>
            <p>
                Coding Grace is an homage to Grace Hopper. She is a computer scientist who held one of the highest ranks in the US Navy, the Rear Admiral. She created the term "debug", literally removing a moth from a computer. She also developed COBOL. Another interesting tidbit, she was awarded the inaugural Computer Scientist "Man" of the Year award in 1969 from the Data Processing Management Association. "Amazing Grace" also had a U.S. Navy destroyer named after her called "USS Hopper".
            </p>
        </div>
        <div class="col-md-6">
            <h3>Why do you charge for your events?</h3>
            <p>
                The organisers and mentors are all volunteers and charge nothing for helping out. This is what we do with the money charged from ticket sales:
                <ul>
                    <li>Cover expenses e.g. notepads, pens, breakfast/lunch (if included), beverages, snacks, venue (if not free) and other expenses</li>
                    <li>
                        Any monies left over goes right back into
                        <ul>
                            <li>funding the next Coding Grace events and workshops</li>
                            <li>inital help in setting up other chapters of Coding Grace</li>
                        </ul>
                    </li>
                </ul>
                Receipts for expenses are all kept digitally.
            </p>
        </div>
    </div>



    <div class="row flex-get-involved-container" id="chapter">
        <div class="flex-get-involved-item">
            <h2><span class="glyphicon glyphicon-map-marker"></span> Chapters</h2>
            <p>
                Currently Coding Grace is in <strong><a href="/chapters/dublin">DUBLIN</a></strong>, keep an eye out as we have another chapter in Ireland coming on board soon.
            </p>
            <p>
                If you are interested in running Coding Grace in your local area, please feel free to drop us an email.
            </p>
            <p class="text-center">
                <a href="/chapters/" class="btn btn-primary" role="button">More info</a>
            </p>
        </div>

        <div class="flex-get-involved-item">
            <h2><span class="glyphicon glyphicon-heart"></span> Community</h2>
            <h4>
                Join our <a href="https://groups.google.com/forum/#!forum/coding-grace">Discussion Forum</a>
            </h4>
            <h4>
                Follow us on <a href="https://twitter.com/codinggrace">@CodingGrace</a>
            </h4>
            <h4>
                Like us on <a href="https://www.facebook.com/pages/Coding-Grace/501098363273457">Facebook Page</a>
            </h4>
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="//codinggrace.us7.list-manage.com/subscribe/post?u=8612b25618972d14df5c6a1fb&amp;id=78108add1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label for="mce-EMAIL">Subscribe to our monthly newsletter</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_8612b25618972d14df5c6a1fb_78108add1f" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
            </div>

            <!--End mc_embed_signup-->
        </div>
        <div class="flex-get-involved-item">
            <h2><span class="glyphicon glyphicon-user"></span> Call for Mentors</h2>
            <p>
                If you are interested in volunteering, please register your interest.
            </p>
            <p>
                We welcome people from all diverse backgrounds and levels to help out.

            </p>
            <p class="text-center"><a href="https://docs.google.com/forms/d/12XbtEtgY_V1quYNgD3SHMPcXB2kDiNHzRl7FvVIaISc/viewform?usp=send_form" class="btn btn-primary" role="button">Register interest</a>
            </p>
        </div>

        <div class="flex-get-involved-item">
            <h2><span class="glyphicon glyphicon-info-sign"></span> Contact Details</h2>
            <p>
                If you want to contact us regarding
                <ul>
                    <li>sponsorships</li>
                    <li>workshops</li>
                    <li>mentoring</li>
                </ul>
                or just because you are curious, drop us an email.
            </p>
            <p>Just a note to say that there's no-one on in Coding Grace called Grace. :-)</p>

            <p class="text-center"><a href="mailto:contact@codinggrace.com" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-envelope"></span> contact@codinggrace.com</a>
            </p>
        </div>
    </div>

</div>

