{% extends "base.html" %}

{% block title %}Coding Grace Chapters{% endblock %}


{% load staticfiles %}
{% block extracss %}

<!-- <link rel="stylesheet" href="{% static 'events/css/style.css' %}" /> -->

{% endblock %}

{% load my_md %}

{% block content %}
<h1 id="chapters" class="text-center tk-cooper-black-std">CHAPTERS</h1>
<div class="container">

	<div class="row">
		<div class="col-mod-5">
			<div class="jumbotron">
			 	<h1 class="tk-cooper-black-std">Want to start a local chapter?</h1>
				<p>
			  		Interested in providing events to a diverse community, and like to be part of Coding Grace and make a differece?
				</p>
				<p>Drop Vicky an email, we are very happy to have a chat with you and see how we can make this happen.</p>
				<p><span class="glyphicon glyphicon-info-sign"></span> Here's <a href="#get_involved">some info on starting your own Coding Grace chapter</a>.</p>
			  <p><a href="mailto:contact@codinggrace.com" class="btn btn-primary btn-lg" role="button">contact@codinggrace.com</a></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="tk-cooper-black-std">Current Chapters</h1>
			{% for country, cities in country_chapters %}
			<div class="panel panel-default">
				<div class="panel-heading chapter">
					<h3 class="panel-title tk-cooper-black-std">{{ country|upper }}</h3>
				</div>
				<div class="panel-body">
					{% if cities %}
						{% for city in cities %}
							{% url 'chapter' city as the_url %}
							<a href="{{the_url}}">{{ city|title }}</a> {% if not forloop.last %}&middot; {% endif %}
						{% endfor %}
					{% else %}
						<p>No chapters</p>
					{% endif %}
					</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div id="get_involved">
	<h1 class="tk-cooper-black-std text-center">Getting involved</h1>
	<div class="flex-howtohelp-container">	
		<div class="flex-howtohelp-item explanation">
			<h4><a href="#what-does-an-organiser-do">What does an organiser do?</a></h4>
			<h4><a href="#what-next">Ok, what happens next when I join as an organiser?</a></h4>
			<h4><a href="#what-workshop-to-run">Choosing what kind of workshop you want to run</a></h4>
			<h4><a href="#set-a-date">Set a date</a></h4>
			<h4><a href="#call-for-volunteers">Call for volunteer mentors</a></h4>
			<h4><a href="#find-venue">Find a venue</a></h4>
			<h4><a href="#funding">Funding</a></h4>
			<h4><a href="#event-page">Event Page</a></h4>
			<h4><a href="#logos">Coding Grace Logos</a></h4>
			<h4><a href="#pr">Promo'ing your workshop</a></h4>
		</div>
	</div>

	<div class="flex-howtohelp-container">	
		<div class="flex-howtohelp-item explanation" id="what-does-an-organiser-do">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-question-sign"></span> What does an organiser do?</h2>
			<p>
				<span class="glyphicon glyphicon-search"></span> Venues, mentors, sponsors
			</p>
			<p>
				<span class="glyphicon glyphicon-wrench"></span> Event management, co-ordinate with mentors &amp; co-organisers, catering, workshop content
			</p>
			<p>
				<span class="glyphicon glyphicon-bullhorn"></span> Promotion (press release, social media)
			</p>
			<p>
				<span class="glyphicon glyphicon-asterisk"></span> Point-of-contact person on the day of the event
			</p>
			<h4>Interested? <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:contact@codinggrace.com">contact@codinggrace.com</a></h4>
		</div>			
	</div>
	<div class="flex-howtohelp-container">
		<div class="flex-howtohelp-item explanation" id="what-next">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-question-sign"></span> Ok, what happens next when I join as an organiser?</h2>
			<p>
				<span class="glyphicon glyphicon-user"></span> Add you as organiser on <a href="http://codinggrace.com">CodingGrace.com</a>
			</p>
			<p>
				<span class="glyphicon glyphicon-home"></span> Add your city chapter on <a href="http://codinggrace.com">CodingGrace.com</a>
			</p>
			<p>
				<span class="glyphicon glyphicon-plus"></span> Add you as Manager on <a href="https://www.facebook.com/pages/Coding-Grace/501098363273457">Facebook Page</a>
			</p>
			<p>
				<span class="glyphicon glyphicon-plus"></span> Add you as Co-Organiser on <a href="http://www.meetup.com/codinggrace/">Meetup.com group</a>
			</p>
		</div>
	</div>

	<div class="flex-howtohelp-container">
		<div class="flex-howtohelp-item explanation" id="what-workshop-to-run">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-question-sign"></span> Choosing what kind of workshop you want to run</h2>
			<p>
				<span class="glyphicon glyphicon-cog"></span> Depending on the technology, e.g. Python, it might not be easy finding mentors. If this is your first workshop, you can instruct the workshop yourself. 
			</p>
			<p>
				<span class="glyphicon glyphicon-fullscreen"></span> Size of workshop is up to each organiser. Dublin ones are typically capped at 25 attendees, and we aim to have 1 mentor per 5 attendees.
			</p>
			<p>
				<span class="glyphicon glyphicon-link"></span> Coding Grace workshop content (slides, exercises, source code, etc.) are shared via <a href="https://bitbucket.org/codinggrace/" class="highlight">bitbucket.org/codinggrace</a> | <a href="https://github.com/codinggrace/" class="highlight">github.com/codinggrace</a>
			</p>
		</div>

	</div>

	<div class="flex-howtohelp-container" id="set-a-date">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-calendar"></span> Set a date</h2>
			Setting a date and knowing what workshop you will be running will be enough information when looking for volunteer mentors/helpers and venues.

		</div>
	</div>

	<div class="flex-howtohelp-container" id="call-for-volunteers">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-bullhorn"></span> Call for volunteer mentors</h2>
			Here are a few suggestions to start looking for volunteer mentors:-

			<ul>
				<li>Universities</li>
				<li>Local companies</li>
				<li>Local usergroups (meetup.com, mailing lists)</li>
				<li>Friends</li>
			</ul>
		</div>
	</div>

	<div class="flex-howtohelp-container" id="find-venue">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-map-marker"></span> Find a venue</h2>
			<p>If it is possible, a city centre location. If that is not possible, try to find a venue that is easily accessible via public transport.</p>
			<p>
				Venue should have at least:
				<ul>
					<li>Tables and chairs (classroom setup)</li>
					<li><span class="glyphicon glyphicon-blackboard"></span> Projector (and screen)</li>
					<li>Decent Wi-Fi</li>
				</ul>
			</p>
		</div>
	</div>

	<div class="flex-howtohelp-container" id="funding">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-heart"></span> Funding</h2>
			<p>Coding Grace can help with initial expenses if funds are available. <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:contact@codinggrace.com">contact@codinggrace.com</a></p>
			<p>
				If you find a sponsor, we will need the following:
				<ul>
					<li>Company Name</li>
					<li>Company Logo (high resolution image)</li>
					<li>Company short description</li>
					<li>Company URL</li>
					<li>What they will be sponsoring</li>
				</ul>
			</p>

		</div>
	</div>

	<div class="flex-howtohelp-container" id="event-page">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-heart"></span> Event Page</h2>
			<p>
				You can add your event to Coding Grace own:-
				<ul>
					<li><a href="http://codinggrace.com">Website</a></li>
					<li><a href="http://www.meetup.com/codinggrace/">Meetup.com</a></li>
					<li><a href="https://www.facebook.com/Coding-Grace-501098363273457/events">Facebook Page</a></li>
				</ul>
			</p>
			<p>
				You can use our <a href="https://ti.to/coding-grace">Coding Grace Ti.to account</a> to create your tickets and to manage your event. 
			</p>
			<p>To get added to any of above, you can email <a href="mailto:contact@codinggrace.com">contact@codinggrace.com</a>.</p>
			<h3><span class="glyphicon glyphicon-thumbs-up"></span> Other recommended ticket management sites</h3>
			<p>
				We don't restrict anyone on services used, above are tried and tested. EventBrite is especially handy to handle waiting lists, internal emails, refunds, etc. And Ti.to also supports Stripe (and it's an Dublin-based company).
			</p>
			<ul>
				<li><a href="http://eventbrite.ie/">EventBrite</a></li>
				<li><a href="https://getinvited.to/">GetInvited.to</a> (Based in Belfast)</li>
			</ul>
			<p><span class="glyphicon glyphicon-share-alt"></span> If you find another ticket management site, do let us know.</p>
		</div>
	</div>

	
	<div class="flex-howtohelp-container" id="logos">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-comment"></span> Coding Grace Logos</h2>
			<p>You can download them from <a href="https://bitbucket.org/codinggrace/logos">https://bitbucket.org/codinggrace/logos</a>. If you need something else, you can email <a href="mailto:vicky@codinggrace.com">contact@codinggrace.com</a>.</p>
		</div>
	</div>

	<div class="flex-howtohelp-container" id="pr">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-comment"></span> Promo'ing your workshop</h2>
			<ul>
				<li>
					Coding Grace:
					<ul>
						<li><a href="https://groups.google.com/forum/#!forum/coding-grace">Mailing list</a></li>
						<li><a href="https://www.facebook.com/pages/Coding-Grace/501098363273457">Facebook Page</a></li>
						<li><a href="http://www.meetup.com/codinggrace/">Meetup.com</a></li>

					</ul>
				</li>
				<li>User group mailing lists</li>
				<li>Local companies</li>
				<li>Third level institutions</li>
				<li>Newspapers and local radio.</li>
				<li>
					Event sites:
					<ul>
						<li><a href="http://lanyrd.com">Lanyrd.com</a></li>
						<li>Silicon Republic's <a href="http://www.siliconrepublic.com/events/">Events listings</a></li>
						<li>Your <a href="https://www.startupdigest.com/digests">local Startup Digests</a></li>
					</ul>
				</li>
				<li>LinkedIn Groups, some suggestions:
					<ul>
						<li>Women in Technology and Science Ireland</li>
						<li>PaddyTech</li>
						<li>Events Den</li>
					</ul>

				</li>
			</ul>

			<p>
				Vicky can help:
				<ul>
					<li>Tweet (MT/RT) via <a href="https://twitter.com/codinggrace">@CodingGrace</a></li>
					<li>
						Monthly newsletter, even if you don't have dates or venues, you can still send me details about the workshop you are running so people know what upcoming workshops are happening that month. Please allow at least 2 days notice.
					</li>
				</ul>
			</p>

			<h3><span class="glyphicon glyphicon-asterisk"></span>Suggestion:</h3>
			<p>Create a Twitter account for your chapter.</p>

			<h2>Finally... <span class="glyphicon glyphicon-fire"></span> Word of Mouth!</h2>
		</div>
	</div>


</div>
{% endblock %}