{% extends "base.html" %}

{% block title %}Coding Grace Chapters{% endblock %}


{% load staticfiles %}
{% block extracss %}

<!-- <link rel="stylesheet" href="{% static 'events/css/style.css' %}" /> -->

{% endblock %}

{% load my_md %}

{% block content %}
<h1 id="chapters" class="text-center tk-cooper-black-std">CHAPTERS</h1>
<div class="container">

	<div class="row">
		<div class="col-mod-5">
			<div class="jumbotron">
			 	<h1 class="tk-cooper-black-std">Want to start a local chapter?</h1>
				<p>
			  		Interested in providing events to a diverse community, and like to be part of Coding Grace and make a differece?
				</p>
				<p>Drop Vicky an email, we are very happy to have a chat with you and see how we can make this happen.</p>
				<p><span class="glyphicon glyphicon-info-sign"></span> Here's <a href="#get_involved">some info on starting your own Coding Grace chapter</a>.</p>
			  <p><a href="mailto:contact@codinggrace.com" class="btn btn-primary btn-lg" role="button">contact@codinggrace.com</a></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="tk-cooper-black-std">Current Chapters</h1>
			{% for country, cities in country_chapters %}
			<div class="panel panel-default">
				<div class="panel-heading chapter">
					<h3 class="panel-title tk-cooper-black-std">{{ country|upper }}</h3>
				</div>
				<div class="panel-body">
					{% if cities %}
						{% for city in cities %}
							{% url 'chapter' city as the_url %}
							<a href="{{the_url}}">{{ city|title }}</a> {% if not forloop.last %}&middot; {% endif %}
						{% endfor %}
					{% else %}
						<p>No chapters</p>
					{% endif %}
					</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div id="get_involved">
	<h1 class="tk-cooper-black-std text-center">Getting involved</h1>

	<div class="flex-howtohelp-container">	
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-question-sign"></span> What does an organiser do?</h2>
			<p>
				<span class="glyphicon glyphicon-search"></span> Venues, mentors, sponsors
			</p>
			<p>
				<span class="glyphicon glyphicon-wrench"></span> Event management, co-ordinate with mentors &amp; co-organisers, catering, workshop content
			</p>
			<p>
				<span class="glyphicon glyphicon-bullhorn"></span> Promotion (press release, social media)
			</p>
			<p>
				<span class="glyphicon glyphicon-asterisk"></span> Point-of-contact person on the day of the event
			</p>
			<h4>Interested? <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:vicky@codinggrace.com">vicky@codinggrace.com</a></h4>
		</div>			
	</div>
	<div class="flex-howtohelp-container">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-question-sign"></span> Ok, what happens next when I join as an organiser?</h2>
			<p>
				<span class="glyphicon glyphicon-user"></span> Add you as organiser on <a href="http://codinggrace.com">CodingGrace.com</a>
			</p>
			<p>
				<span class="glyphicon glyphicon-home"></span> Add your city chapter on <a href="http://codinggrace.com">CodingGrace.com</a>
			</p>
			<p>
				<span class="glyphicon glyphicon-plus"></span> Add you as Manager on <a href="https://www.facebook.com/pages/Coding-Grace/501098363273457">Facebook Page</a>
			</p>
			<p>
				<span class="glyphicon glyphicon-plus"></span> Add you as Co-Organiser on <a href="http://www.meetup.com/codinggrace/">Meetup.com group</a>
			</p>
		</div>
	</div>

	<div class="flex-howtohelp-container">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-question-sign"></span> Choosing what kind of workshop you want to run</h2>
			<p>
				<span class="glyphicon glyphicon-cog"></span> Depending on the technology, e.g. Python, it might not be easy finding mentors. If this is your first workshop, you can instruct the workshop yourself. 
			</p>
			<p>
				<span class="glyphicon glyphicon-fullscreen"></span> Size of workshop is up to each organiser. Dublin ones are typically capped at 25 attendees, and we aim to have 1 mentor per 5 attendees.
			</p>
			<p>
				<span class="glyphicon glyphicon-link"></span> Coding Grace workshop content (slides, exercises, source code, etc.) are shared via <a href="https://bitbucket.org/codinggrace/" class="highlight">bitbucket.org/codinggrace</a> | <a href="https://github.com/codinggrace/" class="highlight">github.com/codinggrace</a>
			</p>
		</div>

	</div>

	<div class="flex-howtohelp-container">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-calendar"></span> Set a date</h2>
			Setting a date and knowing what workshop you will be running will be enough information when looking for volunteer mentors/helpers and venues.

		</div>
	</div>

	<div class="flex-howtohelp-container">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-bullhorn"></span> Call for volunteer mentors</h2>
			Here are a few suggestions to start looking for volunteer mentors:-

			<ul>
				<li>Universities</li>
				<li>Local companies</li>
				<li>Local usergroups (meetup.com, mailing lists)</li>
				<li>Friends</li>
			</ul>
		</div>
	</div>



	<div class="flex-howtohelp-container">
		<div class="flex-howtohelp-item explanation">
			<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-map-marker"></span> Find a venue</h2>
			<p>If it is possible, a city centre location. If that is not possible, try to find a venue that is easily accessible via public transport.</p>
			<p>
				Venue should have at least:
				<ul>
					<li>Tables and chairs (classroom setup)</li>
					<li><span class="glyphicon glyphicon-blackboard"></span> Projector (and screen)</li>
					<li>Decent Wi-Fi</li>
				</ul>
			</p>
		</div>
	</div>


	<div class="container-fluid">


		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-user"></span> Become an organiser</h2>
				<p>
					<ul>
						<li>Finds venues, mentors, promotion, catering (optional), co-ordination with mentors, co-organisers, etc.</li>
						<li>Reliably show up to open doors.</li>
						<li>Go-to person on the day.</li>
					</ul>
				</p>
				<p>
					To be set up as an organiser, <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:vicky@codinggrace.com">vicky@codinggrace.com</a>.
				</p>
				<p>
					We will
					<ul>
						<li>add you as an organiser to Coding Grace</li>
						<li>
							give you access to <a href="http://codinggrace.com">codinggrace.com</a> where you can
							<ul>
								<li>add events</li>
								<li>post news</li>
							</ul>
						</li>
						<li>add your chapter to the website</li>
						<li>add you as manager on our <a href="https://www.facebook.com/pages/Coding-Grace/501098363273457">Coding Grace Facebook Page</a></li>
						<li>add you as co-organiser on our <a href="http://www.meetup.com/codinggrace/">meetup.com page</a></li>
					</ul>
				</p>
				<p>Now that you are set up, you can do the following to get your workshop up and going.</p>

				<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-wrench"></span> Choose what kind of workshop you want to run.</h2>
				<p>Dublin's first workshop was introduction to Python as it was easy for me to find mentors. If you cannot find mentors, run a workshop you can instruct yourself.</p>

				<p>Size of workshop is up to each organiser. Dublin ones are typically capped at 25 attendees, and we aim to have 1 mentor per 5 attendees.</p>

				<p>
					Coding Grace workshop content (slides, exercises, source code, etc.) are shared here: 

					<li><a href="https://bitbucket.org/codinggrace/">https://bitbucket.org/codinggrace/</a></li>
					<li><a href="https://github.com/codinggrace/">https://github.com/codinggrace/</a></li>
				</p>

				<p>Please share your workshop content here, READMEs are .md files, so please fill as much information as you can on the content as well as references and resources. If you don't know how, send me a zipped file and I will add to the repository.</p>

				<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-calendar"></span> Set a date</h2>
				<p>Setting a date and knowing what workshop you will be running will be enough information when looking for volunteer mentors/helpers and venues.</p>

				<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-bullhorn"></span> Call for volunteer mentors</h2>
				<p>
					Here are a few suggestions to start looking for volunteer mentors:-
					<ul>
						<li>Universities</li>
						<li>Local companies</li>
						<li>Local usergroups (meetup.com, mailing lists)</li>
						<li>Friends</li>
					</ul>
				</p>

				<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-map-marker"></span> Find a venue</h2>
				<p>If it is possible, a city centre location. If that is not possible, try to find a venue that is easily accessible via public transport.</p>
				<p>
					Venue should have at least:
					<ul>
						<li>Tables and chairs (classroom setup)</li>
						<li>Projector (and screen)</li>
						<li>Decent Wi-Fi</li>
					</ul>

					Nice to have:
					<ul>
						<li>Use of kitchenette so people can make their own tea/coffee.</li>
					</ul>
				</p>
				<p>Coding Grace can help with initial expenses if funds are available. <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:vicky@codinggrace.com">vicky@codinggrace.com</a></p>

				<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-heart"></span> Sponsorship</h2>
				<p>
					<ul>
						<li>Local companies</li>
						<li>International companies who sponsored past Coding Grace workshop, and you want an introduction, <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:vicky@codinggrace.com">vicky@codinggrace.com</a></li>
					</ul>
				</p>
				<p>
					If you find a sponsor, we will need the following:
					<ul>
						<li>Company Name</li>
						<li>Company Logo (high resolution image)</li>
						<li>Company short description</li>
						<li>Company URL</li>
						<li>What they will be sponsoring</li>
					</ul>
				</p>

				<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-info-sign"></span> Event page</h2>
				<p>
					For tickets:
					<ul>
						<li>Add workshop to website.</li>
						<li>
							Suggested ticket management sites (don't forget to add sponsors these ticket pages as well)
							<ul>
								<li><a href="http://eventbrite.ie">EventBrite</a></li>
								<li><a href="https://getinvited.to">GetInvited.to</a></li>
								<li><a href="http://tito.io">Tito</a></li>
							</ul>
							We don't restrict anyone on services used, above are tried and tested. EventBrite is especially handy to handle waiting lists, internal emails, refunds, etc. Whereas Tito has support for Stripe (and it's an Irish company).
						</li>
					</ul>
				</p>
				<p>If you find another ticket management site, do let us know.</p>
				<p> Some resources:-
					<ul>
						<li>
							<span class="glyphicon glyphicon-picture"></span> <a href="https://bitbucket.org/codinggrace/logos/src">Coding Grace Official Logos</a> (if you need higher resolution, <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:vicky@codinggrace.com">vicky@codinggrace.com</a>)
						</li>
						<li>About Coding Grace can be found on <a href="/#about">front page</a>.</li>
					</ul>
				</p>

				<h2 class="tk-cooper-black-std"><span class="glyphicon glyphicon-comment"></span> Promo'ing your workshop</h2>
				<p>
					<ul>
						<li>
							Coding Grace:
							<ul>
								<li><a href="https://groups.google.com/forum/#!forum/coding-grace">Mailing list</a></li>
								<li><a href="https://www.facebook.com/pages/Coding-Grace/501098363273457">Facebook Page</a></li>
								<li><a href="http://www.meetup.com/codinggrace/">Meetup.com</a></li>

							</ul>
						</li>
						<li>User group mailing lists</li>
						<li>Local companies</li>
						<li>Third level institutions</li>
						<li>Newspapers and local radio.</li>
						<li>
							Event sites:
							<ul>
								<li><a href="http://lanyrd.com">Lanyrd.com</a></li>
								<li>Silicon Republic's <a href="http://www.siliconrepublic.com/events/">Events listings</a></li>
								<li>Your <a href="https://www.startupdigest.com/digests">local Startup Digests</a></li>
							</ul>
						</li>
						<li>LinkedIn Groups, some suggestions:
							<ul>
								<li>Women in Technology and Science Ireland</li>
								<li>PaddyTech</li>
								<li>Events Den</li>
							</ul>

						</li>
					</ul>
				</p>
				<p>
					Vicky can help:
					<ul>
						<li>Tweet (MT/RT) via <a href="https://twitter.com/codinggrace">@CodingGrace</a></li>
						<li>
							Monthly newsletter, even if you don't have dates or venues, you can still send me details about the workshop you are running so people know what upcoming workshops are happening that month. Please allow at least 2 days notice.
						</li>
					</ul>
				</p>

				<h3>Suggestion:</h3>
				<p>Create a Twitter account for your chapter.</p>

				<h2>Finally... <span class="glyphicon glyphicon-fire"></span> Word of Mouth!</h2>
			</div>

		</div>
	</div>
</div>
{% endblock %}