<div class="container-fluid">
    <div class="row codeofconduct">
        <a name="codeofconduct"></a>
        <h1 class="text-center">CODE OF CONDUCT</h1>

        <div class="col-md-6">
            <h2>TL;DR</h2>
            <p>
                The Code of Conduct is based on Python Ireland's Code of Conduct and will be used for all events organised by Coding Grace.
            </p>
            <p>
                Coding Grace is dedicated to providing a harassment-free experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form.
            </p>
            <p>
                All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language and imagery is not appropriate for any events venue, including talks. Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for Coding Grace events. Attendees violating these rules may be asked to leave the event without a refund (if any) at the sole discretion of the event organisers.
            </p>
            <p>
                Thank you for helping make this a welcoming, friendly event for all.
            </p>
        </div>

        <div class="col-md-6">
            <p class="lead">
                We value the participation of each member of the community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout EventGeekie organised events. To make clear what is expected, all delegates/attendees, speakers, exhibitors, organisers and volunteers at any EventGeekie event are required to conform to the following Code of Conduct. organisers will enforce this code throughout the event.
            </p>
            <h2>For the longer version, you can read it here: <br/><a href="/codeofconduct/">Coding Grace Code of Conduct full version</a></h2>
        </div>

    </div>
</div>