<h1 id="html5-css3">HTML5 and CSS3</h1>
<h2>Where to begin...?</h2>
<div>
    Check out material from previous Coding Grace Beginners and Intermedate HTML5/CSS3 workshops:-
    <ul>
        <li>
            <a href="https://bitbucket.org/codinggrace/html5-css3-workshop/wiki/Home">Coding Grace workshop ccontent</a>
        </li>
    </ul>
</div>

<h2>References</h2>
<h3 id="html5">HTML5</h3>
<div>
    <ul>
        <li><a href="http://html5doctor.com/">http://html5doctor.com/</a></li>
        <li><a href="http://diveintohtml5.info/">http://diveintohtml5.info/</a></li>
        <li><a href="http://html5demos.com/">http://html5demos.com/</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5</a></li>
    </ul>
</div>

<h3 id="css3">CSS3</h3>
<div>
    <ul>
        <li><a href="http://learnlayout.com/">http://learnlayout.com/</a></li>
        <li><a href="http://css-tricks.com/box-sizing/">http://css-tricks.com/box-sizing/</a></li>
        <li><a href="http://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/">http://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/</a></li>
        <li><a href="http://caniuse.com/">http://caniuse.com/</a></li>
        <li><a href="http://css3generator.com/">http://css3generator.com/</a></li>
        <li><a href="http://ilovecss.me/">http://ilovecss.me/</a></li>
    </ul>
</div>
