<h2 id="python">Where to begin...?</h2>
<p>
    Curious about all this talk about python and you want to try it out. You don't need to have programming knowledge to learn Python.
    <ol>
        <li>Head over to <a href="https://www.python.org/">python.org</a> and click on the yellow button to launch the interactive Python shell.</li>
        <li>
            <div>Open <a href="https://wiki.python.org/moin/BeginnersGuide">Beginners Guide to Python</a>.</div>
            <div><span class="glyphicon glyphicon-info-sign"></span> Recommended: <a href="http://learnpythonthehardway.org/book/">Learn Python the Hard Way</a>.</div>
        </li>
        <li>
            Head to a Python meetups. Currently it's mostly in Dublin (I'm afraid, we hope to improve on this).
            <ul>
                <li><a href="http://python.ie">Python Ireland</a> - a monthly meetup group in Dublin that on the <strong>2nd Wednesday</strong> of each month.</li>
                <li><a href="http://dublin.pyladies.com">PyLadies Dublin</a> - a female-friendly monthly meetup group on <strong>3rd Tuesday</strong> of each month.</li>
                <li><a href="http://python.ie/pycon">PyCon Ireland</a> - Annual Irish Python conference whichs includes talks, sprints, workshops. Beginners friendly, financial grants available through its diversity programme.</li>
            </ul>
        </li>
    </ol>
</p>

<h2>Useful tools and utilities:</h2>
<ul>
    <li><a href="#commandline">Command Line</a> - You will end up turning to command line in your terminal/console and knowing a few basic command lines is really handy knowledge. It's quick and saves time.</li>
    <li><a href="#sourcecontrol">Source Control</a> - This is pretty essential nowadays regardless if you are working on your own project, with small/huge teams.</li>
    <li>pip and virtualenv</li>
</ul>
