<h1 id="sc">Source Control</h1>
<h2>What is it? And why do I need it?</h2>
<div>
    Source control is pretty important nowadays from working on your own personal project to team-based projects to
interacting with open-source projects. It's a necessary skill that all who writes code should know. It will solve
a lot of headaches and at least certain doom (might be exaggerated, but it feels like that at the time) and knowing
that you can revert changes, it's quite a life-saver.
</div>

<div>
    If you know Git or Mercurial and want to know what the difference is between them, here's a handy reference page:
    <ul>
        <li><a href="https://github.com/sympy/sympy/wiki/Git-hg-rosetta-stone">Git hg Rosetta Stone</a></li>
    </ul>
</div>

<h2>Recommended Distributed Version Control System</h2>

<h3 id="git">Git</h3>
<div>
    After downloading <a href="http://git-scm.com/">Git</a>, go through their <a href="http://git-scm.com/docs/gittutorial">tutorial</a>.
</div>
<div>
    Other references:
    <ul>
        <li><a href="http://git-scm.com/docs">Git's own cheatsheets</a></li>
    </ul>
</div>

<h3 id="hg">Mercurial (hg)</h3>
<div>
    After downloading Mercurial, go through Joel Spoelsky's friendly <a href="http://hginit.com/">tutorial</a>.
</div>
<div>
    Other references:
    <ul>
        <li><a href="https://www.mercurial-scm.org/wiki/Tutorial">Mercurial's own tutorial</a></li>
        <li><a href="https://www.mercurial-scm.org/wiki/QuickReferenceCardsAndCheatSheets">Mercurial's own cheatsheets</a></li>
    </ul>
</div>

<h2>Version Control System Hosts</h2>
<div>
    Sign ups are free.
    <ul>
        <li><a href="https://bitbucket.org">Bitbucket</a> - host your git and/or mercurial projects</li>
        <li><a href="https://github.com/">Github</a> - host your git projects</li>
        <li><a href="https://gitlab.com">Gitlab</a> - offers free unlimited (private) repositories and unlimited collaborators.</li>
    </ul>
</div>

