{% extends "base.html" %}
{% block title %}[News] {{ article.title }}{% endblock %}

{% load my_md %}

{% load staticfiles %}
{% block extracss %}

<link rel="stylesheet" href="{% static 'news/css/style.css' %}" />

{% endblock %}

{% block content %}
<div class="container-fluid article">
	<div class="row ">
		<div class="col-md-8 col-md-offset-2 tk-lemonde-journal">
		{% if article %}
			<article>
				<h1 class="text-center tk-cooper-black-std">{{ article.title }}</h1>
				<section>
					<h4 class="post-author">By {{ article.author }} {% if article.chapter %}in {{ article.chapter|title }} <small>{{ article.published }}</small>{% endif %}</h4>
                    {% if article.event %}
                    {% url 'events:event_detail' slug=article.event.slug event_id=article.event.id as the_url %}
                    <h5><span class="glyphicon glyphicon-hand-right"></span> Related event: <a href="{{the_url}}">{{article.event.title}} <small>({{article.event.start_datetime|date:"D d M Y"}})</small></a></h5>
                    {% endif %}
					{{ article.content|md|safe }}
				</section>
				{% include "disqus_common.html" %}
			</article>
		{% endif %}
		</div>
	</div>


</div>
{% endblock %}
