<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extracss %}{% endblock %}
    <title>{% block title %}My title{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" ><span class="glyphicon glyphicon-home"></span> Coding Grace</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- <li {% if active == "home" %}class="active"{% endif %}><a href="/">Home</a></li> -->
                        <!-- <li {% if active == "home" %}class="active"{% endif %}><a href="/#about">About</a></li> -->
                        <li {% if active == "events" %}class="active"{% endif %}><a href="/events/">Events</a></li>
                        <li class="dropdown {% if active == 'home' %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/#about">Who are we?</a></li>
                                <li><a href="/#chapter">Join our Newsletter</a></li>
                                <li><a href="/#chapter">Call for Mentors</a></li>
                                <li><a href="/#chapter">Contact Us</a></li>
                            </ul>
                        </li>
                        <li {% if active == "news" %}class="active"{% endif %}><a href="/news/">News</a></li>
                        <li {% if active == "chapters" %}class="active"{% endif %}><a href="/chapters/">Chapters</a></li>
                        <li {% if active == "conduct" %}class="active"{% endif %}><a href="/codeofconduct/">Code Of Conduct</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <img src="/static/images/cg-logo.png"/>
                            <h4>Coding Grace Foundation</h4>
                            <p><strong>Company number: 568940</strong></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-5 col-md-offset-4 text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <p><a href="/#about">About Us</a> | <a href="/chapters/">Chapters</a> | <a href="/supporters/">Supporters</a></p>
                            <p><span class="glyphicon glyphicon-info-sign"></span> <a href="/colophon/">Colophon</a> | <a href="/resources/">Resources</a></p>
                            <p><a href="https://twitter.com/codinggrace">@codinggrace</a> | <a href="https://www.facebook.com/pages/Coding-Grace/501098363273457">Facebook</a></p>
                            <a href="mailto:contact@codinggrace.com" class="btn btn-success active" role="button">Contact Us</a>
                        </div>
                    </div> 
                    <p class="small">2012-2016 Coding Grace, All Rights Reserved.</p>            
                </div>
            </div>

        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="//use.typekit.net/kal4hup.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% block extrajs %} {% endblock %}
</body>
</html>